[*.cs]

# IDE0009: メンバー アクセスを修飾する必要があります。
dotnet_style_qualification_for_event = true:warning

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1063: Implement IDisposable Correctly
dotnet_diagnostic.CA1063.severity = none

# CA1032: Implement standard exception constructors
dotnet_diagnostic.CA1032.severity = none

# CA2229: Implement serialization constructors
dotnet_diagnostic.CA2229.severity = none

# CA2214: Do not call overridable methods in constructors
dotnet_diagnostic.CA2214.severity = none

# CS1591: 公開されている型またはメンバーの XML コメントがありません
dotnet_diagnostic.CS1591.severity = none

# CA2237: Mark ISerializable types with serializable
dotnet_diagnostic.CA2237.severity = none

# CS1584: XML コメントに構文的に正しくない cref 属性があります
dotnet_diagnostic.CS1584.severity = none

# CA1720: Identifier contains type name
dotnet_diagnostic.CA1720.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = none

# CA1307: Specify StringComparison
dotnet_diagnostic.CA1307.severity = none

# CA1815: Override equals and operator equals on value types
dotnet_diagnostic.CA1815.severity = none

# CA1716: Identifiers should not match keywords
dotnet_diagnostic.CA1716.severity = none

# CA1710: Identifiers should have correct suffix
dotnet_diagnostic.CA1710.severity = none

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none

# CA1065: Do not raise exceptions in unexpected locations
dotnet_diagnostic.CA1065.severity = none

# CA1010: Collections should implement generic interface
dotnet_diagnostic.CA1010.severity = none

# CA1030: Use events where appropriate
dotnet_diagnostic.CA1030.severity = none

# CA1028: Enum Storage should be Int32
dotnet_diagnostic.CA1028.severity = none

# ASet.IEnumerable.GetEnumerator()だけを
# CA1033: Interface methods should be callable by child types
dotnet_diagnostic.CA1033.severity = none

# IDE0060: 未使用のパラメーターを削除します
dotnet_code_quality_unused_parameters = all:none

# CA1820: Test for empty strings using string length
dotnet_diagnostic.CA1820.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1801: Review unused parameters
dotnet_diagnostic.CA1801.severity = none

# IDE0055: 書式設定を修正します。
dotnet_diagnostic.IDE0055.severity = none

# CA1724: Type names should not match namespaces
dotnet_diagnostic.CA1724.severity = none

# CA1812: インスタンス化されていない内部クラスを使用しません
dotnet_diagnostic.CA1812.severity = none

# IDE1006: 命名スタイル
dotnet_diagnostic.IDE1006.severity = none

# CS8604: Null 参照引数の可能性があります。
dotnet_diagnostic.CS8604.severity = none

# CS1658: 警告がエラーをオーバーライドしています
dotnet_diagnostic.CS1658.severity = none
