[*.cs]

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none

# CA1720: Identifier contains type name
dotnet_diagnostic.CA1720.severity = none

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = none

# CA2225: 演算子オーバーロードには名前付けされた代替が存在します
dotnet_diagnostic.CA2225.severity = none

# CA1815: equals および operator equals を値型でオーバーライドします
dotnet_diagnostic.CA1815.severity = none

# CA1001: Types that own disposable fields should be disposable
dotnet_diagnostic.CA1001.severity = none

# IDE0060: 未使用のパラメーターを削除します
dotnet_code_quality_unused_parameters = all:none

# IDE0055: 書式設定を修正します。
dotnet_diagnostic.IDE0055.severity = none

# IDE0044: 読み取り専用修飾子を追加します
dotnet_style_readonly_field = true:none

# IDE0051: 使用されていないプライベート メンバーを削除する
dotnet_diagnostic.IDE0051.severity = none

# CS8618: Null 非許容フィールドは初期化されていません。null 許容として宣言することを検討してください。
dotnet_diagnostic.CS8618.severity = none

# IDE0004: 不要なキャストの削除
dotnet_diagnostic.IDE0004.severity = none
