<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net47" />
  <package id="EntityFramework.ja" version="6.2.0" targetFramework="net47" />
  <package id="EntityFramework.SqlServerCompact" version="6.2.0" targetFramework="net47" />
  <package id="FSharp.Core" version="4.6.2" targetFramework="net471" />
  <package id="JetBrains.dotMemoryUnit" version="2.4.20170830.172630" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net461" />
  <package id="Microsoft.SqlServer.TransactSql.ScriptDom" version="15.0.4200.1" targetFramework="net471" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net461" />
  <package id="MSTestExtensions" version="4.0.0" targetFramework="net47" />
  <package id="SqlServerCompact" version="4.0.8854.1" targetFramework="net461" />
</packages>